h1 {
  height: 50px;
  width: 150px;

}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: red;
}
